<h2 class="text-4xl my-10 text-center">Employee List</h2>
<table class="min-w-full table-auto dark:divide-gray-700 divide-y divide-green-400 text-center">
    <thead class=" bg-gray-100 dark:bg-gray-400">
        <tr>
            <th scope="col" class="p-2">First Name</th>
            <th scope="col" class="p-2">Last Name</th>
            <th scope="col" class="p-2">Email ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td class="py-4">{{employee.firstName}}</td>
            <td class="py-4">{{employee.lastName}}</td>
            <td class="py-4">{{employee.emailId}}</td>
        </tr>
    </tbody>
</table>