<h2 class="text-4xl my-5 text-center">Employee List</h2>
<table class="min-w-full table-auto dark:divide-gray-700 divide-y divide-green-400 text-center">
    <thead class=" bg-gray-100 dark:bg-gray-400">
        <tr>
            <th scope="col" class="p-2">First Name</th>
            <th scope="col" class="p-2">Last Name</th>
            <th scope="col" class="p-2">emailId ID</th>
            <th scope="col" class="p-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td class="py-4">{{employee.firstName}}</td>
            <td class="py-4">{{employee.lastName}}</td>
            <td class="py-4">{{employee.emailId}}</td>
            <td class="py-4">
                <button (click)="updateEmployee(employee.id)"
                    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Update</button>
                <button (click)="deleteEmployee(employee.id)"
                    class="ml-5 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Delete</button>
                <button (click)="employeeDetails(employee.id)"
                    class="ml-5 text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">View</button>
            </td>
        </tr>
    </tbody>
</table>