<h1 class="text-3xl font-bold text-center my-5">Update Employee</h1>

<div
    class="block mx-auto w-6/12 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-6">
            <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                First Name</label>
            <input type="firstName" id="firstName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Your FIrst Name" [(ngModel)]="employee.firstName" name="firstName" required>
        </div>
        <div class="mb-6">
            <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Last Name</label>
            <input type="lastName" id="lastName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Your Last Name" [(ngModel)]="employee.lastName" name="lastName">
        </div>

        <div class="mb-6">
            <label for="emailId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                email ID</label>
            <input type="emailId" id="emailId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="youremail@emailcom" required [(ngModel)]="employee.emailId" name="emailId">
        </div>
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
</div>